<div class="jumbotron">
  <h1 class="display-4">ALPHA BLOG</h1>
  <p class="lead">This is my simple blog project.</p>
  <hr class="my-4">
  <p>It's pretty dissapointing but its my first ruby app so deal with it.</p>
  <%= link_to "Sign up now", "", class: "btn btn-primary btn-lg", role: "button" %>
</div>
